[submodule "MockImage/MockImageC++/rapidjson"]
	path = MockImage/MockImageC++/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "FixedReceiptData/FixedReceiptDataC++/rapidjson"]
	path = FixedReceiptData/FixedReceiptDataC++/rapidjson
	url = https://github.com/Tencent/rapidjson.git
