[submodule "MockImage/MockImageC++/rapidjson"]
	path = MockImage/MockImageC++/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "DataFixed/FixedReceiptDataC++/rapidjson"]
	path = DataFixed/FixedReceiptDataC++/rapidjson
	url = https://github.com/Tencent/rapidjson.git
